.home-body{

}

.hompheard{
  height: 40px;
  background: #e0e0e0;
}

.home-container{
  height: 627px;
  background: #ffffff;
}
.home-search{
  width: 100%;
}

.fdtype{
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-wrap:wrap;
  justify-content:space-around; 
}
.fdtype li{
  margin-top: 10px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fdtype-div{
  width: 57px;
  height: 64px;
}
.fdtype-div span{
  height: 20px;
  line-height: 20px;
}
.fdtype-div img{
  width: 44px;
  height: 44px;
}


.shop-title{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  line-height: 40px;
  font-size: 12px;
  float: left;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

}
.shop-title-item {
  float: left;
  margin-right: 50px;
}
.shop-title-item-l{
  float: right;
  margin-right: 20px;
}
.title-search{
  margin-top: 10; 
  width: 115px;
  margin-bottom: 10 ;
  font-size: 12px;
  float: left;
}


.my-list .am-list-item{
  font-size: 12px;
  color: rebeccapurple;
  z-index: 10000;
}

.my-accordion .pad .am-accordion-content-box {
  padding: 10px;
}

.tag-container{
  width: 100%;
  display: flex;
  padding-top: 9px;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 10;
}
.tag-container > div {
  margin-left: 9px;
  margin-bottom: 9px;
  z-index: 10;
}
.tag-container .am-tag-normal {
  background: #eeeeee;
}

.list-reading{

}
.reading-img{
  width: 80%;
  margin: 100px auto;
}
.reading-img img{
  width: 100%;

}

/* shop-list */
.shop-item{

}


.shop-item{
  width: 100%;
  height: 160px;
  padding-top: 10px;
  margin-bottom: 20px;
  border-top: #e0e0e0 1px solid;
}
.shop-item-heard{
  width:100%;
  height: 60%;
}
.shop-item-img{
  width: 25%;
  /* overflow: hidden; */
  height: 100%;
  padding: 10px;
  float: left;
  
}
.shop-item-img img{
  width: 100%;
  height: 100%;
}
.shop-item-inf{
  width: 75%;
  height: 100%;
  float: left;
}
.inf-title{
  width: 100%;
  height: 30%;
  font-size: 21px;
  font-weight: 800;
  text-align: left;
  padding-left: 20px;
  padding: 10px;
}
.inf-number{
  margin-top: 5px;
  height:40%;
  width: 100%;
  padding: 10px;
  line-height: 16px;
  color:  #5d4f4f;
}
.inf-number-v1{
  width: 60%;
  float: left;
  text-align: left;
}
.inf-number-v1 img{
  height: 16px;
}
.inf-number-v1  .px{
  color: rgb(254, 80, 1);
  padding-right: 5px;
}
.inf-number-v2{
  width: 40%;
  font-size: 10px;
  float: left;
}
.inf-number-v2 .v2-sp1{
  color: blue;
  width: 50%;
  border: 1px solid blue;
  padding: 2px;

}
.inf-number-v2 .v2-sp2{
  color: white;
  background: blue;
  padding: 2px;
  font-size: 10px;

}

.inf-money{
  margin-top: -10px;
  height: 38%;
  padding: 10px;
  line-height: 16px;
  color:  #5d4f4f;
}
.inf-money span{
  padding-right: 5px;
}
.inf-money-v1{
  width: 60%;
  float: left;
  text-align: left;
}
.inf-money-v2{
  width: 40%;
  font-size: 15px;
  float: left;
}

.shop-item-yh{
  width:75%;
  float: right;
  padding-left: 10px;
}
.yh-title{
  width: 50%;
  text-align: center;
  color: #ee541c;
  padding: 5px;
  background-color: #f4c8b8;
}
.yh-inf{
  width: 100%;
}
.yh-inf span{
  margin-top: 5px;
  color: red;
  border: 1px solid #f2a5a5;
  float: left;
  padding: 5px;
  margin-right: 5px;
}