.App{
  overflow: hidden;
}
.lodeing{
  width:80%;
  margin: 100px auto;
  border-radius: 10px;
}
.lodeing img{
  width: 100%;
  /* opacity: 0.6; */
  
}
.tips{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ordertype .am-tabs-tab-bar-wrap{
  position: relative;
}
/* .am-tabs-tab-bar-wrap{
  position: relative;
} */

/* .am-tabs-content-wrap .am-tabs-tab-bar-wrap{
  position: fixed;
} */
.title{
  height:50px;
  text-align: center;
  line-height: 50px;
}


.orderitem{
  margin-top: 10px;
  height: 200px;
  box-shadow: 0px 0px 1px #af9898;
  background: white;
}

.order-title{
  height: 25%;
  line-height: 49px;
  border-bottom: 1px solid #eee;
}
.order-shopname{
  float: left;
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}
.state{
  float: right;
  padding-right: 10px;
}
.state1 :hover{
  color: blue;
}
.order-inf{
  height: 50%;
  width: 100%;
}
.order-shop-img{
  float: left;
  height: 100px;
  overflow: hidden;
}
.order-shop-img img{
  height: 80px;
  width: 80px;
  padding: 10px;
}
.order-inf-text{
  height: 100%;
  float: left;
  color: #867c7c;

}
.order-inf-text span{
  display:block;
  text-align: left;
  padding-left: 10px;
  line-height: 30px;
  margin-top: 5px;
}

.order-do{
  height: 20%;
  text-align: right;
}

.qx :hover{
  color: blue;
}

