@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1552812199876'); /* IE9 */
  src: url('iconfont.eot?t=1552812199876#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABoAAAAJ4AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBDIEgATYCJAMICwYABCAFhG0HLxvFBciusCnDvUigmJo7jJ7ZglLggW8b4uFrv9dzdzcEoDKRUCAHgOpPxpdtVEkYYOHqKkzHo2Yj3v7PZY5Ync/zx/IU0EihL+T//pbTDBU7w0pNyE24NcLCX738OpV1g5MRB8Z5e6AqkMUvAECf53J6LaBA5gfKZYxBY00+6kVxvDXAsRZFViSRpwK7iD0Yxwk0GzdQ2L87OYe6AuMCUTPagnrOpyhSslGor1laxBN1GtNO+oLH4ffjv7Wok9RlKDt6e+vC4ldSWn6ouugT/ARudR0yVoFCnKyNHVYSErOkOVY2DfZVHPzKqvKtYq8mIf11KGwFo6z4niSu9FYLEyhs9xywb5Sb0orZce3t12n7DHkKdwc4GQmzV0lnV9OvfWg49QL7v+fTnwaPVz+/vssk8AWxICcolcfz2nbx+eNUI4Ffu53StHvpwUG/7+rS8HdgAVDNO/mRQDD4sUf0NsYCvtZSjKda9HPQeA578K8kPSuKKYMuHVXM2ZO5jEeCFcpOFbi6/Y3V991YKjTquz1Hg7EUWaNZSmGsok6LddRrtAvNVuxXt+jBSqI0Ydkrg9DpG0m7z8g6/VAK4xd1+v2jXmeU0Ox09GzZYj5Mcx+TJeSifYfGSWLl2KQZFZ+SvgotzspC1iVxboI4HU2KyT3FxHPMyK/1TESh4iTCHXMahWGCKSc+OTLyRNL5eKzq3jRykgia9mHEIogL2e4gw5GIKb++aJY+f4poV0IWbiE1+C8RljO9o6mRSQ/KXh33It3LK7lr2owQClJYIoJ2zCASCiVQWj/IRxxixBsRSc2NqZrqqx6tr42+bgM0gyEF9cnqbpp7zwAA') format('woff2'),
  url('iconfont.woff?t=1552812199876') format('woff'),
  url('iconfont.ttf?t=1552812199876') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552812199876#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icondizhi:before {
  content: "\e634";
}

