.address-item{
  height: 50px;
  border-bottom: 1px solid #eeeeee;
}
.usersex {
  padding-left: 60px;
}

.usersex span{
  width: 60px;
  display: inline-block;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
  margin-top: 9px;
  border:  1px solid #eeeeee;
}
.searchnam{
  border: 1px solid blue;
}