.pl-title{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.pl-title-zh{
  height: 100%;
  width: 40%;
  float: left;
  line-height: 50px;
  text-align: center;

}
.pl-title-fs{
  width: 50%;
  float: left;
  line-height: 50px;
  font-size: 41px;
  text-align: center;
  color: red;
}
.pl-title-fs{
  width: 50%;
  float: left;
  text-align: center;
}
.pl-title-wd{
  width: 20%;
  float: left;
  text-align: center;
  line-height: 50px;
}
.pl-title-wd div{
  height: 25px;
  width: 100%;
}
.pl-title-bz{
  width: 20%;
  float: left;
  text-align: center;
  line-height: 50px;
}
.pl-title-bz div{
  height: 25px;
  width: 100%;
}
.pl-title-ps{
  width: 20%;
  float: left;
  text-align: center;
  line-height: 50px;
}
.pl-title-ps div{
  height: 25px;
  width: 100%;
}



.tag-container{
  border-top: 5px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  padding-top: 9px;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag-container > div {
  margin-left: 9px;
  margin-bottom: 9px;
}

.pl-containner{

}
.pl-item{
  margin-top: 10px;
  border-bottom: 1px solid #eee;
  height: 270px;
  width: 100%;
}
.pl-item-user{
  height: 15%;
  width: 100%;
  float: left;
}
.item-user-img{
  width: 20%;
  height: 50px;
  overflow: hidden;
  text-align: center;
  float: left;
}
.item-user-img img{
  width: 90%;
  height: 90%;
  margin: auto 0px;
}
.item-user-inf{
  width: 80%;
  height: 50px;
  float: left;
  padding: 5px;
  margin-bottom: 10px;
}
/* .item-user-inf span{
  display: inline-block;
  height: 100%;
  line-height: 40px;
  font-size: 16px;
} */
.user-inf{
  height: 100%;
  float: left;
  font-size: 16px;
}
.user-inf span{
  display: block;
  width: 100%;
}
.xx  img{
  width: 20px;
  display: inline-block;
  float: left;
}
.xximg{
  display: inline;
}
.evtime{
  float: right;
  padding: 30px;
  font-size: 12px !important;
}

.pl-text{
  height: 60%;
  width: 100%;
  float: left;
}
.pl-text1{
  width: 80%;
  height: 100%;
  float: right;
  padding: 10px;
}
.pl-text-text{
  height: 30px;
  line-height: 30px;
}
.pl-text-img{

}
.pl-text-img img{
  width: 50%;
}

.shop-qus{
  height: 20%;
  width: 100%;
  float: left;

}
.shop-qus1{
  width: 80%;
  float: right;
  margin-top: 5px;
  background: #fffafa;
  color: #837f7f;
  line-height: 25px;
  font-size: 13px;
  padding-left: 5px;
}
